@page "/clients"
@inject IJSRuntime JS
@inject SweetAlertService Swal
@inject ClientServices clienteService
@inject AuthServices authServices

@using Crefinso.DTOs
@using Crefinso.Services
@using Crefinso.Services.Clientes

@code{
    private List<ClienteResponse> clientes;
    private string errorMessage;
    private bool isLoading = true; // Variable para controlar el estado de carga
    private bool isAuthenticated;
    private UserSession userSession = new UserSession();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        
        if (firstRender)
        {
            isAuthenticated = await authServices.IsAuthenticated();

            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {

        try
        {
            // Muestra la alerta de "Cargando..."
            await JS.InvokeVoidAsync("mostrarAlertaCargando");

            await Task.Delay(1125);

            clientes = await clienteService.GetClientes();

            // Indica que la carga ha finalizado
            isLoading = false;
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }

    }
}

@if (clientes == null)
{
}
else if(isAuthenticated)
{
    <div class="flex flex-wrap justify-between m-5">
        <h1 class="text-4xl font-bold">Gestión de Clientes</h1>
        <a href="createClient" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Nuevo Cliente</a>
    </div>

    <!-- Dashboard Stats -->
    <section class="flex flex-wrap justify-around">
        <div class="stat-card bg-blue-100 rounded-lg p-4 shadow-md w-72 m-4">
            <h2 class="text-gray-700 text-lg font-semibold">Total de Clientes</h2>
            <p class="text-4xl font-bold">11</p>
        </div>
        <div class="stat-card bg-green-100 rounded-lg p-4 shadow-md w-72 m-4">
            <h2 class="text-gray-700 text-lg font-semibold">Monto Total</h2>
            <p class="text-4xl font-bold">$17,1310</p>
        </div>
        <div class="stat-card bg-yellow-100 rounded-lg p-4 shadow-md w-72 m-4">
            <h2 class="text-gray-700 text-lg font-semibold">Plazo Promedio</h2>
            <p class="text-4xl font-bold">28</p>
        </div>
    </section>

    <div class="p-6 m-5 border bg-white rounded-lg shadow-md">

        <!-- Table displaying the credit list -->
        <div class="relative w-full overflow-auto">
            <table class="w-full">
                <thead class="">
                    <tr class="">
                        <th class="p-2 text-center">Código</th>
                        <th class="p-2 text-center">Nombre</th>
                        <th class="p-2 text-center">DUI</th>
                        <th class="p-2 text-center">NIT</th>
                        <th class="p-2 text-center">Dirección</th>
                        <th class="p-2 text-center">Celular</th>
                        <th class="p-2 text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var cliente in clientes)
                    {
                        <tr class="border-b">
                            <td class="p-4 font-medium">@cliente.ClienteId</td>
                            <td class="p-4">@cliente.Nombre</td>
                            <td class="p-4">@cliente.DUI</td>
                            <td class="p-4">@cliente.NIT</td>
                            <td class="p-4">@cliente.Direccion</td>
                            <td class="p-4">@cliente.TelefonoCelular</td>

                            <td class="p-4">
                                @* VER DETALLES DEL CLIENTE *@
                                <button class="text-green-500">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Zm6-10.125a1.875 1.875 0 1 1-3.75 0 1.875 1.875 0 0 1 3.75 0Zm1.294 6.336a6.721 6.721 0 0 1-3.17.789 6.721 6.721 0 0 1-3.168-.789 3.376 3.376 0 0 1 6.338 0Z" />
                                    </svg>
                                </button>

                                @* MODIFICAR UN CLIENTE *@
                                <button class="text-blue-500">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                    </svg>
                                </button>

                                @* ELIMINAR UN CLIENTE *@
                                <button class="text-red-500">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Pagination at the bottom -->
        <div class="mt-4">
            <div aria-label="pagination" class="flex justify-center">
                <ul class="flex gap-1">
                    <li><a class="inline-flex items-center justify-center rounded-md text-sm font-medium h-10 px-4 py-2 gap-1" aria-label="Previous page" href="#">Anterior</a></li>
                    <li><a class="inline-flex items-center justify-center rounded-md text-sm font-medium h-10 w-10 border" href="#">1</a></li>
                    <li><a class="inline-flex items-center justify-center rounded-md text-sm font-medium h-10 w-10" href="#">2</a></li>
                    <li><a class="inline-flex items-center justify-center rounded-md text-sm font-medium h-10 w-10" href="#">3</a></li>
                    <li><a class="inline-flex items-center justify-center rounded-md text-sm font-medium h-10 w-10" href="#">4</a></li>
                    <li><a class="inline-flex items-center justify-center rounded-md text-sm font-medium h-10 px-4 py-2 gap-1" aria-label="Next page" href="#">Siguiente</a></li>
                </ul>
            </div>
        </div>
    </div>
}